body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
}

.options{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 20px;
    border: solid black;
    border-radius: 10px;
    background-color:beige;
    flex-wrap: wrap;
    padding: 20px
}

.label{
    width: 147.917px;
}
.scores{
    display: flex;
    gap: 40px;
    border: solid black;
    border-radius: 10px;
    padding: 10px;
}

img{
    height: 135px;
    width: 150px;
    box-sizing: border-box;
    cursor: pointer;
}

footer{
    width: 100%;
    background-color: beige;
    margin-top: auto;
}

header{
    background-color: beige;
    margin: 0;
    width: 100%;
}

.hovering{
    border: 5px solid black;
    border-radius: 5px;
}

.playerClicked{
    border: 5px solid rgb(71, 98, 138);
    border-radius: 5px;
}

.computerClicked{
    border: 5px solid rgb(167, 79, 68);
    border-radius: 5px;
}

.message{
    display: flex;
}

.buttonStyle{
    width: 200px;
    border: 0;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-size: medium;
    background-color: rgb(71, 98, 138);
    color: white;
}